body[data-theme='blue'] #page-links a.active {
    color: #00679B;
}

body[data-theme='blue'] h2 {
    color: #00679B;
}

body[data-theme='blue'] .btn {
    background: #00679B;
}

body[data-theme='blue'] .btn:hover {
    background: #00679B;
}

body[data-theme='blue'] #schedule-controls a.active {
    background-color: #00679B;
}

body[data-theme='blue'] .schedule-tab h3 span,
body[data-theme='blue'] .page-caption h3 span {
    color: #00679B;
}

body[data-theme='blue'] a.page-control {
    color: #00679B;
}

body[data-theme='blue'] .favorite {
    color: #00679B;
}

body[data-theme='blue'] .session-everyone {
    border-bottom-color: #00679B;
}

body[data-theme='blue'] #show-full-schedule {
    color: #00679B;
}


