body[data-theme='green'] #page-links a.active {
    color: #2F9A66;
}

body[data-theme='green'] h2 {
    color: #2F9A66;
}

body[data-theme='green'] .btn {
    background: #2F9A66;
}

body[data-theme='green'] .btn:hover {
    background: #2F9A66;
}

body[data-theme='green'] #schedule-controls a.active {
    background-color: #2F9A66;
}

body[data-theme='green'] .schedule-tab h3 span,
body[data-theme='green'] .page-caption h3 span {
    color: #2F9A66;
}

body[data-theme='green'] a.page-control {
    color: #2F9A66;
}

body[data-theme='green'] .favorite {
    color: #2F9A66;
}

body[data-theme='green'] .session-everyone {
    border-bottom-color: #2F9A66;
}

body[data-theme='green'] #show-full-schedule {
    color: #2F9A66;
}


