.logo img {
    width: 205px;
}

.session-time em {
    font-size: small;
    font-style: normal;
}

.session-time em:before {
    content: "(Duration ";
}

.session-time em:after {
    content: ")";
}

.category-list-item .category-icon-container img {
    height: 75px;
}

.cache-notice {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(85,86,90,0.1);
    color: #55565a;
    text-align: center;
}

.cache-notice img {
    height: 30px;
    margin-right: 10px;
    vertical-align: -7px;
}

.session-description{
    padding-top: 1em;
}

.session-footer {
    padding-top: 1.5em;
    text-align: center;
}

.session-footer .btn {
    padding: 0.5em 2em;
}

.session-next-session{
    font-size: small;
    text-align: center;
}

.session-detail hr {
    border-color: white;
    border-style: solid;
}

a#home {
    border-left: 2px solid #55565A;
    padding-left: 15px;
}

.session-map{
    height: 2em;
    float: right;
}

.session-time,
.session-location{
    overflow: hidden;
}

.session-map.full{
    width: 100%;
    height: 100%;
    float: none;
}

@media only screen and (max-width: 767px) {
    #page-links a#home {
        border-left: 1px solid #55565A;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 480px) {
    #page-links {
        margin-top: 10px;
    }

    .session-map{
        width: 100%;
        height: 100%;
        float: none;
    }
}
